{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% include 'header.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div id="all_dishes" class="row justify-content-sm-start mx-0">
        {% for dish in dishes %}
            <div class="card col" id="dish-{{ dish.id }}">
                <img src="{{ dish.image_cropped.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ dish.title }}</h5>
                    <p class="card-text">{{ dish.description }}</p>
                    <a href="#" class="btn btn-primary">Перейти к блюду</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">коспания: {{ dish.company }}</li>
                    <li class="list-group-item">цена: {{ dish.price }}</li>
                    <li class="list-group-item">категории: {{ dish.get_categories }}</li>
                </ul>
                <form action="/cart/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="dish_id" value="{{ dish.id }}">
                    <label>
                        <input max="999" class="dish_qty" type="number" name="qty" value="{{ dish.id }}">
                    </label>
                    <button type="submit">Добавить в корзину</button>
                </form>
            </div>
        {% endfor %}

    </div>
    <div class="prev_next">
        {% if dishes.has_previous %}
            <a class="prev btn btn-info" href="?page={{ dishes.previous_page_number }}">Prev</a>
        {% endif %}
        {% if dishes.has_next %}
            <a class="next btn btn-info" href="?page={{ dishes.next_page_number }}">Next</a>
        {% endif %}
        <div class="pages">
            <ul>
                {% for pg in page_range %}
                    {% if dishes.number == pg %}
                        <a href="?page={{ pg }}" class="btn btn-default">{{ pg }}</a>
                    {% else %}
                        <a href="?page={{ pg }}" class="btn">{{ pg }}</a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <span class="clear_both"></span>
    </div>

{% endblock %}