.navbar + * {
    margin-top: 56px;
}

#all_dishes {
    padding-top: 50px;
}

#all_dishes .card {
    padding-top: 10px;
    max-width:250px;
    margin:20px 20px;
}
#all_dishes .card .card-img{
    width: 100%;
    height: 170px;
}

#all_dishes .dish_qty {
    width: 50px;
}

.card-img:hover {
    transform: scale(1.2, 1.2);
}

body {
    background: url("/static/img/table.jpg") no-repeat fixed;
    background-size: cover;
    transition: 3s;
}
